
//buttons -----------------------------------



.btn_lg {
	width: 175px;
  	height: 51px;
	border: none;
	color: #fff;

} 

.btn_sm {
	width: 131px;
  	height: 38px;
  	border: none;
  	color: #fff;
}

.btn_lime {
	background-color: '';
}

.btn_orange {
	background-color: '';
}

.btn_pink {
	background-color: '';
}

