footer {
	background-color: $footer-color;
}

div.footer-section {
	float: left;
	width: 33%;
	position: relative;

	  a {
    	text-decoration: none;
    	color: #fff;
    	font-weight: 100;
    }
}

div.footer-section:nth-of-type(4) {
			// padding: 30px 0;
		}

img#footer-logo {
	text-align: right;
	margin: -30px 0 47px 100px;
	// margin-left: 100px;
	width: 100%;
	height: auto;
	max-width: 260px;
}

.button-contact {
	text-transform: uppercase;
	background: transparent;
	border: 4px solid #fff;
	width: 216px;
	height: 55px;
	font-size: 33px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    display: block;
    margin: 75px auto 0 auto;
    padding-left: 40px;

    	&:hover {
    		opacity: 0.75;
    	}
}

ul {

	li {
		display: inline-block;
		font-family: 'Raleway', Arial;
		font-size: 8px;
		color: #fff;

			a {
			text-decoration: none;
			color: #fff;
			}

		img {
			width: 24px;
		}
	}
}

ul#footer-social {
    margin-top: 84px;
    text-align: right;
    padding-right: 75px;

	    li.footer-social-icon {
	    margin: 0 0 15px 10px;

	    &:first-child {
	    	margin: 0 0 15px 0px;
	    }
	}
}

ul.legal {
    text-align: right;
    margin-right: 75px;

    li {
    	font-size: 12.36px;
    }
}


@media screen and (max-width: 1200px){

	img#footer-logo {
		margin-left: 15px;
	}

} // end media max-width 1200px

@media screen and (max-width: 800px){

	.footer-desktop {
		display: none;
	}

	.footer-section.footer-mobile {
		width: 100% !important;
	}

	.footer-section:first-of-type {
		padding: 30px;
	}

	img#footer-logo {
		display: block;
		margin: 0 auto !important;
		max-width: 80%;
	}

	.button-contact {
		margin: 25px auto;
	}

	ul#footer-social {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	ul.legal {
    text-align: center;
    margin: 40px 0 70px 0;

    li {
    	font-size: 10px;
    	}
	}
}

@media screen and (min-width: 800px){
	div.footer-section.footer-mobile {
		display: none;
				
	}
}

// Gary added CSS

.footer-social {
  text-align: right;
  margin-right: 0;
}
.footer-social li {
  margin-left: 8px;
}
.footer-social li a {
  background: #FFF;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 17px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.footer-social li a i {
  color: #3a97b5;
  font-size: 22px;
  line-height: 32px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.footer-social li a:hover {
  background: #3a97b5;
}
.footer-social li a:hover i {
  color: #FFF;
}
a.button-contact {
  margin: 0 auto;
}
.footer-container {
  max-width: 1200px;
}
img.footer-logo {
  margin: 0;
  text-align: left;
}
ul.legal {
  margin-right: 0;
}
footer {
  padding: 65px 0;
}
footer .full-width-item {
  width: 100%;
  text-align: right;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}