div.main-blog {
	background-color: $blog-blue;
}

div.blog-page-sidebar {
	width: 36%;
	float: left;

		h2 {
			@include dark;
			text-align: center;
			margin: 0;
		}

div.blog-categories, div.blog-recent-posts {
		ul {
			margin-left: 20px;
			
			li {
				display: list-item;
				color: $font-gray;
				font-size: 13px;
				a {
					color: $font-gray;
					font-size: 13px;
				}
			}
		}
	}
}

/* ****************** Search form ************************************ */

form#searchform {

	label {
		font-family: 'Raleway', sans-serif;
		color: $font-gray;
		font-size: 13px;
		float: left;
	}

	input#s {
		float: right;
		width: 100%;
		height: 20px;
		color: $font-gray;
		font-size: 13px;
	}

}

/*********************************************************/

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 70%;
  float: right;
}

.search input {
  width: '';
  height: 32px;

  // background: #fcfcfc;
  // border: 1px solid #aaa;
  // border-radius: 5px;
  // box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { 
	text-indent: '';
}

.search .fa-search { 
  position: absolute;
  right: 10px;
  top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
}

@media (max-width: 568px){
	div.search {
		width: 100%;
	}
}

@media (min-width: 800px) and (max-width: 1068px){
	div.search {
		width: 100%;
	}
}


/***********************************************************/

/******************* Right hand section  *****************************/


div.blog-page-right {
	width: 64%;
	float: right;
	padding-left: 2%;
}

div.blog-post {
	color: $font-gray;
		
		h2 {
			a {
				color: $font-gray;
			}
		}

		p {
			font-size: 14px;
		}

		button {
			border: none;
			background-color: $font-gray;
			color: white;
			font-family: 'Raleway', sans-serif;
			font-variant: small-caps;
			padding: 5px;
			float: right;

				img {
					width: 16px;
    				margin-left: 10px;
				}
		}
	}

.blog-post-section {
	// float: left;
	padding: 0 2%;

	h1 {
		font-size: 18px;
	  	font-family: "Raleway";
	  	color: rgb(160, 160, 160);
	  	font-weight: bold;
	  	line-height: 1.2;
	  	border: 0;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: 14px;
	}
}
.blog-left {
	width: 40%;
	float: left;

		.blog-img-wrapper {
			position: relative;
			height: 225px;
			overflow: hidden;

			img {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				}
			}
		}

.blog-right {
	width: 60%;
	float: right;
}

.blog-border-no-sides {
	border-top: 2px solid $dark-blue;
	border-bottom: 2px solid $dark-blue;
	margin-top: 20px;
    padding: 4% 0;
    background: transparent;

	    &:last-child {
	    		margin-bottom: 20px;
	    }
}

div.blog-border-box {

	border: 2px solid $dark-blue;
	margin-top: 20px;
    padding: 15px;
    background: #fff;

    	&:last-child {
    		margin-bottom: 20px;
    }
}

h2.h2-blog {
	font-size: 18px;
  	font-family: "Raleway";
  	color: rgb(160, 160, 160);
  	font-weight: bold;
  	line-height: 1.2;
  	margin-top: 0;
}

img.attachment-full.size-full.wp-post-image {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 800px) {
	div.blog-page-sidebar {
	width: 100%;
	float: left;

		h2 {
			@include dark;
			text-align: center;
		}
}

div.blog-page-right {
	width: 100%;
	float: left;
	padding-left: 0;
}
}

@media (max-width: 700px){

	h2.h2-blog, .blog-post-section h1 {
		margin-top: 10px;
	}

	.blog-left {
		width: 100%;
	}

	.blog-right {
		width: 100%;
	}
}

/********** Next/Previous pagination ***********************/
$pag-margin: 20px;

.pag {
	width: calc(50% - 10px);
}

.pag-left {
	float: left;
	p{font-size: 12px; vertical-align: middle; float:left;}
}

.pag-right {
	float: right;
	p{font-size: 12px; vertical-align: middle; float: right;}
}

.left {
	float: left;
	width: 50%;

	img {float: left}
}

.right {
	float: right;
	width: 50%;

	img {float: right}
}

/******** Numeric pagination on blogs page ********************/

nav.pagination {

	a.page-numbers, span.page-numbers {
		color: $font-gray;
		font-size: 14px;
		font-family: 'Raleway', sans-serif;
			
			&:first-of-type:before {
				content: '';
			}

			&:before {
			content: ' ';
			
		}
	}
}

/******** Social share icons ***********************/

#social-share-icon {
	position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #3a97b5;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
}

ul.social-share{
	display: none;
	padding:10px;
	margin:0;
	background-color: $dark-blue;
}
ul.social-share li{
	list-style:none;
	display:inline-block;
	margin:0 0.8em 1em 0;
	font-size:1em;
}
ul.social-share li a{
	font-size:20px;
}
ul.social-share li a, ul.social-share li a:hover{
	text-decoration:none;
}
ul.social-share li i{
	font-size:20px;
	margin-right:5px;
}