// Top slider section homepage

div.mySlick {
	height: 100vh;
}

div.slick-slider-wrapper::before {
	content: '';
}

.mySlickSlide.slick-slide {
		height: 100vh;
		position: relative;
		background-size: cover; 
		background-position: 
		center center; 

		h2 {
			@include centerXY;
			@include whiteOnDark;
			font-size: 34px;
			background-color: transparent;
			text-shadow: 0px 10px 19.92px rgba(0, 0, 0, 0.17);
			text-align: center;
			span {
				font-size: 87px;
			}
		}
	}

// responsive

@media screen and (max-width: 480px){
	.mySlickSlide.slick-slide {
		
		h2 {
			font-size: 23px;
			
			span {
				font-size: 62px;
			}
		}
	}
}




.slick-slide img {
	width: 100%;
	height: auto;
}

ul.slick-dots {
	bottom: 48px;
		li {

			button {
				border-radius: 50%;
				border: 3px solid white;
				background-color: white;

					&::before  {
						content: '';
						width: 15px;
					}
				}

				&.slick-active {
							button {
								background-color: transparent;
							}
						}

		}
	}

	

	

// Bottom slick slider homepage

div#slider-jigsaw {

	button {z-index: 1}

	button.slick-prev.slick-arrow {
	    background-image: url('../ChrisPercival/img/leftJigsaw.png');
	    background-repeat: no-repeat;
	    width: 20px;
	    height: 25px;
	    left: 50px !important;
	}

	.slick-prev:before {
	    content: '' !important;
	}

	button.slick-next.slick-arrow {
	    background-image: url('../ChrisPercival/img/rightJigsaw.png');
		background-repeat: no-repeat;
	    width: 20px;
	    height: 25px;
	    right: 50px !important;
	}

	.slick-next:before {
	    content: '' !important;
	}
}